<div id="post_content">
<h1>Artykuły</h1>


<% @posts.each do |post| %>
	<div id="post_listing">
		<br/>
    	<div><h2><%= link_to post.title, post %></h2></div>
    	<div><div id='presentation_miniatures' ><img src=/images/post-<%= post.id%>slajd-0.jpg></div><h3><%= post.body %></h3></div>
    	<div>
			<%= link_to 'Więcej', post %>
    		<!-- <%= link_to 'Edit', edit_post_path(post) %> | 
    		<%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %> -->
		</div>
	</div>
<% end %>

</div>
