<div id="post_content">
<div id="post_info">
<p id="notice">
	<%= notice %>
</p>
	<h1><%= @post.title %></h1>

	<p id="description"><%= @post.body %></p>
	<p>
		<%= link_to 'Edit', edit_post_path(@post) %> |
		<%= link_to 'Back', posts_path %>
		<h2>autor: <%= @autor%><h2/>
		<h2>data utworzenia: <%= @created.strftime '%d/%m/%Y'%><h2/>
	</p>
	
</div>

<div id="presentation">
	<p>
		<span id='presentation_image' ><img src=/images/post-<%= @image_post%>slajd-<%= @page%>.jpg width="500"/></span>
		<video width="350" height="200" controls="controls">
			<source src="http://tinyvid.tv/file/1bjuyg6rp4q71.ogg" type="video/ogg" />
			Your browser does not support the video tag.
		</video>
	</p>
	<p>	
		<div id="presentations_navigation">
			<a onclick = "prev_presentation_page();return false">prev</a>
			<span id="actual_page_number">0</span> / <%= @presentation_max_number%>
			<a onclick = "next_presentation_page();return false">Next</a>
		</div>
		
	</p>
	


<!-- 
<video width="320" height="240" controls="controls">
<source src="http://cdn.kaltura.org/apis/html5lib/kplayer-examples/media/bbb_trailer_iphone.m4v" type="video/mp4" />

Your browser does not support the video tag.
</video> -->


<!-- <video src="<%= @video_path%>"></video>
<%= video_tag @video_path%>
<video src="http://cdn.kaltura.org/apis/html5lib/kplayer-examples/media/bbb_trailer_iphone.m4v" controls="controls"></video>


<video width="420" height="240" controls preload="metadata" poster="/images/video.jpg">
 <!-- Video sources -->
<!--  <source src="http://cdn.kaltura.org/apis/html5lib/kplayer-examples/media/bbb_trailer_iphone.m4v" type='video/ogg; codecs="theora, vorbis"'>
</video> -->

<script type="text/javascript">
	
	function prev_presentation_page () {
		if (typeof page_number == "undefined")
		{
			page_number = 0
		}
		else if (page_number > 0)
		{
			page_number--
		}
		var notice = $('presentation_image');
		var kod = "<img src=/images/post-<%= @image_post%>slajd-"+page_number+".jpg >"
		notice.innerHTML=kod
		notice.show();
		
		var actual_page_number = $('actual_page_number');
		actual_page_number.innerHTML=page_number
		actual_page_number.show();	
	}
	function next_presentation_page() 
	{
		if (typeof page_number == "undefined")
		{
			page_number = 1
		}
		else if (page_number < <%= @presentation_max_number%>)
		{
			page_number++
		}
		var notice = $('presentation_image');
		var kod = "<img src=/images/post-<%= @image_post%>slajd-"+page_number+".jpg>"
		notice.innerHTML=kod
		notice.show();

		var actual_page_number = $('actual_page_number');
		actual_page_number.innerHTML=page_number
		actual_page_number.show();	
	}
</script>
</div>
</div>
<div id="comments_content">
<div id="comments">
	<h1>Komentarze</h1>
	<%= render :partial => @post.comments%>
</div>
	<% form_for  [@post, Comment.new], :remote => true do |f| %>
	<p>
		<h2><%= f.label :body, "Nowy komentarz" %></h2>
	</p>
	<p>
		<%= f.text_area :body%>
	</p>
	<p>
		<%= f.submit "Dodaj Komentarz"%>
	</p>
	<% end %>
</div>

